@page "/signals"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using SRLearningServer.Components.Interfaces.FrontendServices
@using SRLearningServer.Components.Models.DTO
@using SRLearningServer.Components.Models.WebpageModels
@attribute [AllowAnonymous]

@inject IFrontendCardService _cardService
@inject IFrontendTypeCategoryListService _typeCategoryListService

<PageTitle>Signaler</PageTitle>

<h1>Signaler</h1>


<RadzenStack class="rz-p-sm-12">
    <RadzenCard class="rz-background-color-primary rz-border-primary">
        <RadzenLabel class="rz-color-on-primary" Text="Vis altid svar" Component="AlwaysShowResult" />
    <RadzenSwitch @bind-Value=@alwaysShowResult Name="AlwaysShowResult" />
    </RadzenCard>
</RadzenStack>

<RadzenStack>
    @if (isLoading)
    {
        <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
            <RadzenProgressBarCircular ShowValue="true" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large">
                <Template>Wait</Template>
            </RadzenProgressBarCircular>
        </RadzenStack>
    }
    else if (cards.Count > 0 && isLoading == false)
    {
        <RadzenStack>
            <RadzenCard class="rz-background-color-secondary rz-border-primary">
                <RadzenStack>
                    <p class="rz-color-on-secondary">@cards[currentCard].CardText</p>
                </RadzenStack>
                <RadzenStack class="rz-background-color-primary rz-border-primary" Style="position: relative; display: flex;" JustifyContent="JustifyContent.Center">
                    <RadzenImage Path="@($"/Development/Attachments/{cards[currentCard].Attachment?.AttachmentUrl}")" Style="max-height: 60vh; max-width:100%; object-fit: contain;" />
                    <RadzenButton Text="Go back" Click="@(args => Progress(false))" Style="position: absolute; left: 0; width: 50%; height: 100%; opacity: 0;" />
                    <RadzenButton Text="Progress" Click="@(args => Progress(true))" Style="position: absolute; right: 0; width: 50%; height: 100%; opacity: 0;" />
                </RadzenStack>
                <RadzenStack>
                @if (showResult == true || alwaysShowResult == true)
                {
                    <div>
                        <ul>
                            @foreach (var result in cards[currentCard].Results)
                            {
                                    <li class="rz-color-on-secondary">@result.ResultText</li>
                            }
                        </ul>

                        <h5 class="rz-color-on-secondary">@cards[currentCard].CardName</h5>
                        @if (alwaysShowResult == false && showResult == true)
                        {
                            <div>
                                    <p class="rz-color-on-secondary">Klik på højre side for at se næste signal. Klik på venstre side for at skjule svarene.</p>
                            </div>
                        }
                        else
                        {
                            <div>
                                    <p class="rz-color-on-secondary">Klik på højre side for at se næste signal. Klik på venstre side for at gå tilbage.</p>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div>
                            <p class="rz-color-on-secondary">Klik på højre side for at se svarene. Klik på venstre side for at gå tilbage.</p>
                    </div>
                }
                </RadzenStack>
            </RadzenCard>
        </RadzenStack>

    }
    else if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="error">@errorMessage</p>
    }
    else
    {
        <RadzenText Text="Ingen signaler at vise."></RadzenText>
    }

    
</RadzenStack>



<RadzenButton Click="GetSignals">Opdater Signaler</RadzenButton>

<RadzenButton Click="ToggleSignalList">Sorter Signaler</RadzenButton>

<RadzenStack>
    @if (showSignalList)
    {
        @foreach (var signal in signalSelection)
        {
            <RadzenCard class="rz-background-color-secondary">
                <RadzenStack Orientation="Orientation.Vertical" >
                    <RadzenLabel Text="@($"Vælg {signal.SignalType.CardTypeName}")" Component="EntitySelectionDropDown" />
                    <RadzenDropDown Multiple=true @bind-Value=@signal.SelectedSignalAspects TextProperty="@nameof(TypeDto.CardTypeName)" Style="width:auto" Name="EntitySelectionDropDown" Data=@signal.AllowedSignalAspects TValue="IEnumerable<TypeDto>" AllowClear=true AllowFiltering=false AllowSorting=false SelectAllText="Vælg alle visninger" SelectedItemsText="Visninger er valgt" Placeholder="@($"Ingen {signal.SignalType.CardTypeName}er valgt")" Chips=true MaxSelectedLabels="10">
                    
                    </RadzenDropDown>
                </RadzenStack>
            </RadzenCard>

            
        }
    }
</RadzenStack>


@code {
    private string signalListName = "Signaler";
    private string aspectListName = "SignalVisninger";
    private int currentCard = 0;
    private List<CardDto> cards = new();
    private TypeCategoryListDto signals = new();
    //private TypeCategoryListDto aspects = new();
    private List<SignalModel> signalSelection = new();
    private string errorMessage = "";
    private bool isLoading = false;
    private bool showSignalList = false;
    private int? expandedSignalId = null;
    private bool showResult = false;
    private bool alwaysShowResult = false;


    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        try
        {
            signals = await _typeCategoryListService.GetByName(signalListName);
            foreach (TypeDto signalType in signals.Types)
            {
                TypeCategoryListDto aspects = await _typeCategoryListService.GetByName($"{signalType.CardTypeName}Liste");
                SignalModel signal = new SignalModel()
                    {
                        SignalType = signalType,
                        AllowedSignalAspects = new List<TypeDto>(aspects.Types),
                        SelectedSignalAspects = new List<TypeDto>(aspects.Types)
                    };

                signalSelection.Add(signal);
            }
        }
        catch (Exception ex)
        {

            errorMessage = $"Error on getting signals or aspects: {ex.Message}";
        }
        finally
        {
            isLoading = false;
        }
    }

    private void ToggleSignalList()
    {
        showSignalList = !showSignalList;
    }

    private void ToggleAspectList(int signalId)
    {
        if (expandedSignalId == signalId)
        {
            expandedSignalId = null;
        }
        else
        {
            expandedSignalId = signalId;
        }
    }

    

    private async void GetSignals()
    {
        isLoading = true;
        errorMessage = "";
        showResult = false;
        showSignalList = false;
        expandedSignalId = null;
        currentCard = 0;
        List<List<TypeDto>> signalAspects = new();
        foreach (SignalModel signal in signalSelection)
        {
            if (signal.SelectedSignalAspects is not null)
            {
                foreach (TypeDto aspect in signal.SelectedSignalAspects)
                {

                    List<TypeDto> Selection = new();
                    Selection.Add(signal.SignalType);
                    Selection.Add(aspect);
                    signalAspects.Add(Selection);

                }
            }
        }
        cards = await _cardService.GetByType(signalAspects);
        if (cards is null)
        {
            cards = new();
            errorMessage = "Ingen signaler med de sendte kriterier blev fundet.";
        }
        isLoading = false;
        StateHasChanged();

    }

    private void ToggleAlwaysShowResult()
    {
        alwaysShowResult = !alwaysShowResult;
    }

    private void Progress(bool direction)
    {
        if (direction == true)
        {
            if(showResult == true || alwaysShowResult == true)
            {
                showResult = false;
                if (currentCard < cards.Count - 1)
                {
                    currentCard++;

                }
                else
                {
                    currentCard = 0;
                }
            }
            else
            {
                showResult = true;
            }
        }
        else
        {
            if (showResult == false || alwaysShowResult == true)
            {
                if (currentCard > 0)
                {
                    currentCard--;
                }
                else
                {
                    currentCard = cards.Count - 1;
                }
                showResult = true;
            }
            else
            {
                showResult = false;
            }
        }
    }

}





