@page "/admin/data"
@rendermode InteractiveServer
@using SRLearningServer.Components.Interfaces.FrontendServices
@using SRLearningServer.Components.Interfaces.Services
@using SRLearningServer.Components.Models.DTO

@inject IFrontendAttachmentService _attachmentService
@inject IFrontendCardService _cardService
@inject IFrontendResultService _resultService
@inject IFrontendTypeService _typeService

<PageTitle>Data administration</PageTitle>

<h3>Data Administration</h3>
<button class="btn btn-primary" @onclick="SetCreateType">Opret ny</button>
<button class="btn btn-primary" @onclick="SetEditType">Opdater eksisterende</button>
<div>
    @if ((createType == true || editType == true) && workingType == "")
    {

        <label for="typeSelection">Vælg en data type du vil :</label>
        <select name="typeSelection" @bind="workingType" id="typeSelection">
            <option value="card">Kort</option>
            <option value="attachment">vedhæft</option>
            <option value="result">Resultat</option>
            <option value="type">Type</option>
            <option value="typeCategoryList">Type Categori</option>
        </select>
    }
    else if (createType == true)
    {
        if (workingType == "card")
        {

            <div>
                <EditForm Model="@card" OnValidSubmit="@CreateCard">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div>
                        <label for="cardName">Navn</label>
                        <InputText type="text" required id="cardName" @bind-Value="card.CardName"/>
                    </div>
                    <div>
                        <label for="cardText">Beskrivelse</label>
                        <InputText type="text" required id="cardText" @bind-Value="card.CardText" />
                    </div>
                    <div>
                        <label for="active">Aktiv</label>
                        <InputCheckbox type="checkbox" id="active" @bind-Value="card.Active" />
                    </div>
                    <div>
                        <label for="attachment">Vedhæftning</label>
                        <InputSelect name="attachment" required @bind-Value="attachmentId">
                        @foreach (var att in attachmentList)
                        {
                            if (att.Active == true)
                            {
                                <option value="@att.AttachmentId">@att.AttachmentName</option>
                            }
                        }
                        </InputSelect>
                </div>
                    <div>
                        <label for="result">Svar</label>
                        <InputSelect multiple name="result" @bind-Value="selectedResultIds">
                            @foreach (var result in resultList)
                            {
                                if (result.Active == true)
                                {
                                    <option value="@result.ResultId">@result.ResultText</option>
                                }
                            }
                        </InputSelect>
                    </div>
                    <div>
                        <label for="type">Typer</label>
                        <InputSelect multiple name="type" @bind-Value="selectedTypeIds">
                            @foreach (var type in typeList)
                            {
                                if (type.Active == true)
                                {
                                    <option value="@type.TypeId">@type.CardTypeName</option>
                                }
                            }
                        </InputSelect> 
                    </div>
                    <button type="submit">Submit</button>
                </EditForm>
            </div>
        }
        else if (workingType == "attachment")
        {
        }
        else if (workingType == "result")
        {
        }
        else if (workingType == "type")
        {
        }
        else if (workingType == "typeCategoryList")
        {
        }

    }
    else if(editType == true)
    {

    }
    else
    {
        <p>Der er ikke valgt en handling</p>
        <p class="error">@errorMessage</p>

    }

</div>




@code {
    private string workingType = "";
    private bool createType = false;
    private bool editType = false;
    private string errorMessage = "";
    private CardDto card = new();
    private AttachmentDto attachment = new();
    private ResultDto result = new();
    private TypeDto type = new();
    private TypeCategoryListDto typeCategoryList = new();

    private List<CardDto> cardList = new();
    private List<AttachmentDto> attachmentList = new();
    private List<ResultDto> resultList = new();
    private List<TypeDto> typeList = new();
    private List<TypeCategoryListDto> typeCategoryListList = new();


    int attachmentId = 0;
    int[] selectedResultIds = [];
    int[] selectedTypeIds = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            attachmentList = await GetAttachments();
            //cardList = await GetCards();
            resultList = await GetResults();
            typeList = await GetTypes();
            //typeCategoryListList = await GetTypeCategoryLists();
        }
        catch (Exception ex)
        {

            errorMessage = ex.Message;
        }
        finally
        {

        }

    }

    private void ChangeTypeToBeCreated(string type)
    {
        workingType = type;
    }
    private void SetCreateType()
    {
        ResetWork();
        createType = true;
        editType = false;
    }
    private void SetEditType()
    {
        ResetWork();
        createType = false;
        editType = true;
    }

    private void ResetWork()
    {
        workingType = "";
        card = new();
        attachment = new();
        result = new();
        type = new();
        typeCategoryList = new();
    }

    private async Task<List<AttachmentDto>> GetAttachments()
    {
        var result = await _attachmentService.GetAll();
        if (result is null)
        {
            errorMessage = "Der blev ikke fundet nogle vedhæftninger.";
            return new List<AttachmentDto>();
        }
        return result;
    }

        private async Task<List<ResultDto>> GetResults()
            {
            var result = await _resultService.GetAll();
            if (result is null)
        {
        errorMessage = "Der blev ikke fundet nogle resultater.";
    return new List<ResultDto>();
        }
        return result;
        }

        private async Task<List<TypeDto>> GetTypes()
            {
            var result = await _typeService.GetAll();
            if (result is null)
            {
        errorMessage = "Der blev ikke fundet nogle typer.";
    return new List<TypeDto>();
    }
    return result;
    }
    /*
    private async Task<List<TypeCategoryListDto>> GetTypeCategoryLists()
        {
        var result = await _typeCategoryListService.GetAll();
            if (result is null)
            {
            errorMessage = "Der blev ikke fundet nogle type kategorier.";
        return new List<TypeCategoryListDto>();
    }
    return result;

    }

    private async Task<List<CardDto>> GetCards(){
        var result = await _cardService.GetAll();
        if (result is null)
            {
            errorMessage = "Der blev ikke fundet nogle kort.";
            return new List<CardDto>();
        }
        return result;
    }*/
    private async void CreateCard()
    {
        var entity = card;
        if (attachmentId > 0)
        {
            entity.Attachment = attachmentList.FirstOrDefault(x => x.AttachmentId == attachmentId);

        }
        if (selectedResultIds.Length > 0)
        {
            entity.Results = resultList.Where(x => selectedResultIds.Contains(x.ResultId)).ToList();
        }
        if (selectedTypeIds.Length > 0)
        {
            entity.Types = typeList.Where(x => selectedTypeIds.Contains(x.TypeId)).ToList();
        }
        var result = await _cardService.Create(entity);
        if (result is not null)
        {
            createType = false;
            ResetWork();
            StateHasChanged();
        }
    }


}
