@using SRLearningServer.Components.Interfaces.FrontendServices
@using SRLearningServer.Components.Interfaces.Utilities
@using SRLearningServer.Components.Models.DTO
@implements IDisposable

@inject NavigationManager NavigationManager
@inject IFrontendTypeCategoryListService _service
@inject IActivitySortingUtility _activitySortingUtility

<div class="top-row ps-3 navbar rz-background-color-primary">
    <div class="container-fluid">
        <a class="navbar-brand rz-color-white" href="">SRLearning</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable rz-background-color-primary" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <RadzenIcon Icon="home" /> Home
            </NavLink>
        </div>
            @foreach (var type in memoryCards?.Types)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"memorycards/{@type.CardTypeName}")">
                        <RadzenIcon Icon="note_stack" />  @type.CardTypeName
                    </NavLink>
                </div>
            }
            @foreach (var type in relationCards?.Types)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"relations/{@type.CardTypeName}")">
                        <RadzenIcon Icon="move_down" />  @type.CardTypeName
                    </NavLink>
                </div>
            }
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <RadzenIcon Icon="mail" /> Kontakt
            </NavLink>
        </div>
        
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/data">
                        <RadzenIcon Icon="database" /> data administration
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/user">
                        <RadzenIcon Icon="manage_accounts" /> bruger administration
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <RadzenIcon Icon="person" />  @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <RadzenIcon Icon="logout" /> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <RadzenIcon Icon="person_add" /> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <RadzenIcon Icon="login" /> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        
    </nav>
</div>

@code {
    private string? currentUrl;
    private TypeCategoryListDto? memoryCards = new();
    private TypeCategoryListDto? relationCards = new();

    protected override async Task OnInitializedAsync()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
        try
        {
            var memoryCardsResults = await _service.GetByName("MemoryCards");
            if (memoryCardsResults is not null)
            {
                memoryCardsResults.Types = _activitySortingUtility.SortActiveByStatus(memoryCardsResults.Types);
                memoryCards = memoryCardsResults;
            }
            var relationCardsResults = await _service.GetByName("RelationCards");
            if (relationCardsResults is not null)
            {
                relationCardsResults.Types = _activitySortingUtility.SortActiveByStatus(relationCardsResults.Types);
                relationCards = relationCardsResults;
            }
        }
        catch (Exception ex)
        {
            
            throw;
        }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

